<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>access_counter</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascrpit" src="./public/js/application.js"></script>
</head>
<body>
<h1>現在のアクセス数</h1>
<p id="number">0人</p>
</body>
</html>
